
body {margin: 0;
    font-family: 'Fira sans', sans-serif;

}
.menu1 {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    font-weight: 800;
    justify-content: center;
    padding: 10px 0 8px;
    line-height: 1.4em;
}

.menu1>div { padding: 0 5px;

}

.color {
    color: darkred;


}
.menu1>div{padding: 12px;
    font-weight: bold;

}
.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 85px;
    background: darkred;
    color: aliceblue;
    align-items: center;
}

.button { display: flex;
align-items: center;
    font-size: 12px;
    font-weight: 800;
}

.button-wrap {
    width: 40px;
    height: 40px;
    position: relative;
}

.button-wrap span {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
    font-size: 0;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -1.5px;
}

.button-wrap span::before, .button-wrap span::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
}

.button-wrap span::before {
    top: -10px;
}

.button-wrap span::after {
    top: 10px;
}

.George {
font-size: 11px;
}
.lang {
    display: flex;
    font-size: 12px;
    font-weight: 800;
    justify-content: center;
    align-items: center;

}

.ukr {
    opacity: 0.5;

}

.club {
    width: 80px;
    display: flex;
    background: #b30c1d;
    border: #fff 3px solid;
    height: 36px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 20px;
}

.menu3 {
    display: flex;
    font-size: 14px;
    line-height: 1.4em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    text-align: center;
    font-weight: 800;
    justify-content: center;
}

.menu3>div {
    padding: 0 15px;

}
.menu4 {
    display: flex;
    margin-top: 22px;
    flex-direction: column;
    justify-content: center;
}

.advertisment {
    color: #bcbbbc;
}

.container {
max-width: 1180px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.statistic {
    cursor: pointer;
}

.menu5 {
    max-width: 1129px;
    margin: 0 auto;

}
.flex {
    display: flex;
}
.covid {
    text-transform: uppercase;
    font-weight: normal;
    margin: 15px 0 10px 10px;
    font-size: 18px;
}

.statistic:hover,
.card-item:hover {
    z-index: 1;
    color: #7e0019;
}

.card-wrap:hover {
    box-shadow: 3px 3px 5px;
    color: #7e0019;
}

.graf-cards {
    margin-top: 20px;

}

.card-wrap {
    border: 1px solid #bcbbbc;
    width: 310px;
    height: 75px;
    padding: 5px;
    position: relative;
    margin: 5px;
}

/* REAL GRAPHIC OF SITUATION *********************************************************************************/
.graf {
    position: absolute;
    right: 80px;
    top: 30px;
}

.up {
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-30px);
    bottom: -35px;
    flex-grow: 4;
}

.down {
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-55px);
    bottom: -35px;
    flex-grow: 2;
}

.up::before {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-40px);

}

.down::before {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(12px);

}

.middle::before {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-85px);
    bottom: -35px;


}

.up::after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(32px);

}

.down::after {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(73px);

}


.middle::after {
    content: "";
    display: block;
    width: 5px;
    /* height: 1px; */
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-14px);
    margin-top: -3px;
    bottom: -35px;

}

.count {
    color:darkred;
    position: absolute;
    right: 1%;
    bottom: 10%;
    font-size: 16px;

}

.card-wrap p {
    text-transform: uppercase;
    font-weight: 800;
}

.card-item {
    font-size: 36px;
    font-weight: bolder;
    color: #333;

}

.up,
.up::before,
.up::after {
    animation: grow-cols-F 3.85s infinite linear;
    transition: all ease-out 0.2s;

}

.down,
.down::after,
.down::before {
    animation: grow-cols-S 3.85s infinite linear;
    transition: all ease-out 0.4s;

}

.middle::after,
.middle::before {
    animation: grow-cols-M 3.85s infinite linear;
    transition: all ease-out 0.3s;
}

.sub_title {
    margin: 10px 0 10px 10px;
}

.sub_title span {
    font-weight: bolder;
    color: #000;
}

.statistic a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 10px 10px;
}

/* MEDIA *******************************************************************/

@keyframes grow-cols-F {
    0% {
        height: 1px;
    }

    100% {
        height: 47px;
    }
}

@keyframes grow-cols-S {
    0% {
        height: 1px;
    }

    100% {
        height: 33px;
    }
}

@keyframes grow-cols-M {
    0% {

        height: 1px;
    }

    100% {

        height: 39px;

    }
}